{% extends 'home.html' %}


{% block content %} 
    <div class="about">
        <div class="text">
            <span id="about_heading">This project is a web application built using Django to efficiently manage data through CRUD operations (Create, Read, Update, Delete).The project provides a user-friendly interface to perform the following actions: <br>
            </span>
            <span id="tit">Create:</span><span id="par"> Add new data entries via user-friendly forms.</span> <br>
            <span id="tit">Read/Retrieve:</span> <span id="par">Display and view all records in a structured, easy-to-read format.</span> <br>
            <span id="tit">Update:</span><span id="par"> Modify or edit existing records directly from the interface.</span> <br>
            <span id="tit">Delete:</span> <span id="par">Remove unwanted records from the database with confirmation.</span>
        </div>
    </div>

{% endblock %}