{% extends 'home.html' %}

{% block content %}
<div class="data">
    <table>
        <tr id="heading">
            <th id="title">TITLE</th>
            <th id="desc">DESCRIPTION</th>
            <th id="upd">UPDATE</th>
            <th id="del">DELETE</th>
        </tr>
        {% for i in b %}
        <tr id="content">
            <td id="title">{{i.title}}</td>
            <td id="desc">{{i.desc}}</td>
            <td id="upd"><a href="{% url 'restore' i.id %}">RESTORE</a> </td>
            <td id="del"><a href="{% url 'del' i.id %}">DELETE</a></td>
        </tr>
        <br>
        {% endfor %}
    </table>
    <div class="ALL">
        <a id="restoreall" href="{% url 'restoreall' %}">RESTORE ALL</a>
        <a id="deleteall" href="{% url 'deleteall' %}">DELETE ALL</a>
    </div>
</div>
{% endblock %}